<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Conta</title>
</head>
<body>
    <h1>Cadastrar Conta</h1>
    <form method="post">
        {% csrf_token %}
        <label for="number">Número da Conta:</label>
        <input type="number" name="number" required>
        <br>
        <label for="account_type">Tipo de Conta:</label>
        <select name="account_type" required>
            <option value="normal">Normal</option>
            <option value="bonus">Bônus</option>
            <option value="poupanca">Poupança</option>
        </select>
        <br>
        <label for="initial_balance">Saldo Inicial:</label>
        <input type="number" name="initial_balance" required>
        <button type="submit">Criar Conta</button>
    </form>
</body>
</html>