<!DOCTYPE html>
<html>
<head>
    <title>Transferência</title>
</head>
<body>
    <h1>Transferência</h1>
    <form method="post">
        {% csrf_token %}
        <label for="source_number">Número da Conta de Origem:</label>
        <input type="number" name="source_number" required>
        <br>
        <label for="destination_number">Número da Conta de Destino:</label>
        <input type="number" name="destination_number" required>
        <br>
        <label for="value">Valor:</label>
        <input type="number" name="value" required>
        <br>
        <button type="submit">Realizar Transferência</button>
    </form>
</body>
</html>